body {
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 0%;
    background-color:rgb(229, 200, 182);
    font-family: BaronSans, Helvetica, Arial;
}

#logo {
    background-color: rgb(171, 122, 79);
    height: 23px;
    width: 220px;
    color: rgb(228, 199, 158);
    font-size: 18px;
    font-weight: lighter;
    border-radius: 5px;
    
    }

.menucontents {
    list-style-type: none;
    display: flex;
    gap: 250px;
    padding: 15px;
    text-transform: uppercase;
    align-items: center;
}

.menucontents:hover {
background-color: white;
height: 50px;
}

button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    background-color:rgb(229, 200, 182);
    color: black;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    height: 0px;
    width: 0px;

}


button:hover,
button:focus {
    background-color: white;
   text-decoration:underline;
   text-align: center;
}

button:active {
    transform: scale(0.9);
}

.aboutMe {
    background-color: rgb(229, 200, 182);
    padding: 100px;
    font-weight: 100;
   font-family:'Source Sans Pro', sans-serif;
   width: 60%;
   float: center;
   text-align: left;
   padding-left: 400px;
   font-size: 30px;


}

  img {
    height: 775px;
    width:2000px;
    
  }  

#name{
    font-family: BaronSans, Helvetica, Arial;
    font-weight: 100;
    font-size: 35px;
}

#quote {
    font-style: italic;
}

.projectpics {
    height: 720px;
    width: 600px;
    padding-left: 50px;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-top: 150x;
}

.projectpics2{
    height:720px;
    width: 600px;
    padding-left:1250px;
    border-radius: 15px;
    padding-bottom: 150px;
    padding-top: 150x;
}

title {
    padding: 700px;

   font-family:'Source Sans Pro', sans-serif;

   float: right;
   text-align: right;
   padding-left: 400px;
   font-size: 30px;
}
.hamburger-menu {
    margin: 0.9rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  .bar-top,
  .bar-middle,
  .bar-bottom {
    height: 5px;
    background: rgb(171, 122, 79);
    border-radius: 5px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
   
  }
  .hamburger-menu:hover .bar-top {
    transform: rotate(45deg);
  }
  .hamburger-menu:hover .bar-middle {
    transform:translateX(1rem);
    opacity: 0;
  }
  .hamburger-menu:hover .bar-bottom {
    transform: rotate(-45deg);
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .sumbitButton {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  @media only screen and (max-width: 700px){


    #logo {
        background-color: rgb(171, 122, 79);
        height: 90px;
        width: 200px;
        color: rgb(228, 199, 158);
        font-size: 15px;
        font-weight: lighter;
        border-radius: 5px;
        padding-left: 10px;
        
        }
    
    .menucontents {
        list-style-type: none;
        display: flex;
        gap: 125px;
        padding: 15px;
        text-transform: uppercase;
        align-items: center;
    }
    
    .menucontents:hover {
    background-color: white;
    height: 100px;
    width: 1000px;
    }
    
    button {
        display: inline-block;
        border: none;
        margin: 0;
        text-decoration: none;
        background-color:rgb(229, 200, 182);
        color: black;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        height: 0px;
        width: 0px;
    
    }
    .hamburger-menu{
        padding-left: 50px;
    }
    img {
        height: 750px;
        width:1500px;
        
      
}

    .aboutMe {
        background-color: rgb(229, 200, 182);
        padding: 100px;
        font-weight: 100;
        font-family:'Source Sans Pro', sans-serif;
        width: 90%;
        float: center;
        text-align: center;
        padding-left: 200px;
        font-size: 20px;
    
    }
  
    .projectpics{
        height: 350px;
        width: 350px;
        padding-left: 50px;
        border-radius: 15px;
        padding-bottom: 150px;
        padding-top: 150x; 
    }

    .projectpics2{
        height: 350px;
        width: 350px;
        padding-left: 50px;
        border-radius: 15px;
        padding-bottom: 150px;
        padding-top: 150x;
    }
    
    
    
    }
  
